
body {
  background: url("dark.png");
}

.header {
margin:auto;
height: 10vh;
background-color:rgba(238,68,95,0.6);
}


.center {
  display: block;
  padding: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

}

.button {
  display: block;
  margin: 0 auto;
}
#quote {
  font-size: 1.5em;
  padding: 30px;
  border-radius: 5px;
  background: rgba(226, 232, 208, 1);
  height: 40vh;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}

#autor {
  display: block;
  font-size: 1em;
  padding: 30px;
  border-radius: 5px;
  background: rgba(245, 160, 169, 0.55);
  height: 10vh;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
