body {
  background: url("http://atre7.github.io/Random/dark.png");
 /* background: url("dark.png");*/
}

.container {

max-width: 700px;
}
.header {
margin:auto;
  padding: 5px;
min-height: 10vh;
background-color:rgba(238,68,95,0.6);
  text-align:center;
  color: white;

}
.empty {
  opacity: 0.4 !important;
}
.twoBtn:hover {
  opacity: 1;
}

.twoBtn {

  display: block;
  opacity: 0.8;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 5px;

  min-height: 10vh;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}
h1 {
  font-size: 1.5em !important;
}
.quote {
  display:block;
  font-size: 1em ;
  padding: 30px;
  border-radius: 5px;
  background: rgba(226, 232, 208, 1);
  min-height: 50vh;
  max-width: 700px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}

#autor {
  display: block;
  font-size: 1em;
  padding: 10px;
  border-radius: 5px;
  background: rgba(245, 160, 169, 0.55);
  min-height: 8vh;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
